h1 {
  text-align: center;
}

h2 {
  margin: 0px;
}
span {
  color: #febe01;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px;
}

a {
  background-color: #febe01;
  color: #332100;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  display: inline-block;
}

p {
  color: #b2b2b2;
}
.item {
  display: block;
  background-color: #111;

  color: #fff;
  padding: 30px;
  border-radius: 15%;
  margin: 20px;
}
